<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="29611LeonardoC.Classes-NotesHomeworkTimetables" Publisher="CN=31579B54-5E05-46EB-994E-A63980A25FDF" Version="1.0.2.2" />
  <Properties>
    <DisplayName>&lt;Classes&gt;</DisplayName>
    <PublisherDisplayName>Leonardo C</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="StudentDataBundleApp.App">
      <VisualElements DisplayName="Classess" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Classes" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" ShortName="Classes" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#77BFEA" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" Executable="TimetableApp.exe" EntryPoint="TimetableApp.MainPage">
          <FileTypeAssociation Name="timetable">
            <DisplayName>Classes</DisplayName>
            <Logo>Assets\file.png</Logo>
            <InfoTip>this is a timetable file</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.tb</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
</Package>